USE [master]
GO
/****** Object:  Database [APIBrazsToursWeatherDB]    Script Date: 25/05/2025 21:20:51 ******/
CREATE DATABASE [APIBrazsToursWeatherDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'APIBrazsToursWeatherDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\APIBrazsToursWeatherDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'APIBrazsToursWeatherDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\APIBrazsToursWeatherDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APIBrazsToursWeatherDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APIBrazsToursWeatherDB]
GO
/****** Object:  Table [dbo].[WeatherForecast]    Script Date: 25/05/2025 21:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeatherForecast](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[Date] [date] NOT NULL,
	[Condition] [nvarchar](50) NOT NULL,
	[Temperature] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WeatherForecast] ON 

INSERT [dbo].[WeatherForecast] ([Id], [Location], [Date], [Condition], [Temperature]) VALUES (1, N'Wicklow Mountains', CAST(N'2025-05-16' AS Date), N'Sunny', 23)
INSERT [dbo].[WeatherForecast] ([Id], [Location], [Date], [Condition], [Temperature]) VALUES (2, N'Cliffs of Moher', CAST(N'2025-05-16' AS Date), N'Rainy', 16)
INSERT [dbo].[WeatherForecast] ([Id], [Location], [Date], [Condition], [Temperature]) VALUES (3, N'Giant''s Causeway', CAST(N'2025-05-16' AS Date), N'Cloudy', 18)
SET IDENTITY_INSERT [dbo].[WeatherForecast] OFF
GO
USE [master]
GO
